{% extends 'base.html.twig' %}
{% block title %}Profile{% endblock %}
{% block body %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
  </div>
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      {# <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> #}
                      <img src="{{asset('image/user.png')}}"/>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h2 class="pt-sm-2 pb-1 mb-0 text-nowrap">welcome Again</h2>
                    {# <p class="mb-0">@johnny.s</p> #}
                    <div class="text-muted"><h5>You Can Edit Your Password Here!</h5></div>
                    <div class="mt-2">
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    {% if is_granted('ROLE_ADMIN') %}
                      <span class="badge badge-secondary">Your Role is Admin</span>
                    {% elseif is_granted('ROLE_USER') %}
                      <span class="badge badge-secondary">Your Role is User</span>
                    {% endif %}
                    {# <div class="text-muted"><small>Joined 09 Dec 2017</small></div> #}
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">Account</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">

                  {{ form_start(ProfilForm) }}
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Email</label>
                              {{ form_widget(ProfilForm.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>New Password</label>
                              {{ form_widget(ProfilForm.plainPassword, {'attr': {'class': 'form-control password-field'}}) }}
                            </div>
                          </div>
                        </div>
                         {{ form_row(ProfilForm.agreeTerms, 
                         {'attr': {'class': 'form-check-input'},'label': 'Agree Terms','label_attr': {'class': 'text-uppercase fs-6 '}}) }}
                      </div>
                    </div>
                    <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onclick="ShowPass()">
                <label class="form-check-label text-uppercase" for="flexCheckDefault">
                  SHOW PASSWORD
                </label>
              </div>
              <script>
                let id_pass = document.querySelector('.password-field');
                function ShowPass(){
                    if(id_pass.type ==="password"){
                        id_pass.type = "text";
                    }
                    else{
                        id_pass.type = "password"
                    }
                }
              </script>
                  
                  <div class="row">
                      <div class="col d-flex justify-content-center">
                        <button class="btn btn-primary m-2" type="submit">Save Changes</button>
                         
                      </div>
                      {{ form_end(ProfilForm) }}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="px-xl-3">
              <a class="btn btn-block btn-secondary" href="{{path('app_logout')}}">
                <i class="fa fa-sign-out"></i>
                <span>Logout</span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title font-weight-bold">Support</h6>
            <p class="card-text">Get fast, free help from our friendly assistants.</p>
            <button type="button" class="btn btn-primary">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
