{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}
{% block body %}
<div class="bg-light py-3 py-md-5">
    <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
              <h3 class="fw-bold text-uppercase fs-1">Please Login</h3>
              </div>
            </div>
          </div>
          <div class="row gy-3 gy-md-4 overflow-hidden">
          <div class="col-12">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="inputEmail" class="mb-2 text-uppercase fs-6">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="mb-3">
    <label for="inputPassword" class="text-uppercase fs-6 mb-2">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
</div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">



    <div class="form-check mb-3">
        <label>
            <input type="checkbox" name="_remember_me" class="form-check-input" onclick="ShowPass()"> Show Password
        </label>
    </div>

    <div class="form-check mb-3">
        <label>
            <input type="checkbox" name="_remember_me" class="form-check-input"> Remember me
        </label>
    </div>
    
    <div class="col-12">
        <div class="d-grid">
    <button class="btn btn-lg btn-primary" type="submit">Login</button>
    </div>
    </div>
    <div class="col-12 mt-2">
        <p class="m-0 text-secondary text-center">You have an account? <a href="/register" class="link-primary text-decoration-none">Register Here</a></p>
      </div>
</form>
<script>
    let id_pass = document.getElementById("inputPassword")
    function ShowPass(){
        if(id_pass.type ==="password"){
            id_pass.type = "text";
        }
        else{
            id_pass.type = "password"
        }
    }
  </script>
{% endblock %}
