<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">Stock Manage</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
      {% for Model in Models() %}
      {% if "ROLE_USER" in Model.role %}
        <li class="nav-item">
          <a class="nav-link mx-2 fs-6" href="{{path(Model.path)}}"><i class="{{Model.icon}}"></i>{{Model.name}}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="nav-item dropdown d-none d-lg-block user-dropdown">
          <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-xs rounded-circle" src="{{asset('image/user.png')}}" alt="Profile image"> </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <div class="dropdown-header text-center">
              <img class="img-md rounded-circle" src="{{asset('image/user.png')}}" alt="Profile image">
              {% if is_granted('ROLE_ADMIN') %}
                        <p class="mb-1 mt-3 font-weight-semibold">Admin</p>
                        {% elseif is_granted('ROLE_USER') %}
                       <p class="mb-1 mt-3 font-weight-semibold">User</p>
                {% endif %}      
              <p class="fw-light text-muted mb-0">{{app.user.email}}</p>
            </div>
            <a class="dropdown-item" href="{{path('app_profile')}}"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile</a>
            <a class="dropdown-item" href="{{path('app_logout')}}"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Initialize all input of type date
    var toggler = document.querySelector('.navbar-toggler');
    var collapse = document.querySelector('#navbarSupportedContent');

    toggler.addEventListener('click', function () {
      collapse.classList.toggle('show');
    });
  });
</script>
<!-- Navbar -->