{# invoice_template.html.twig #}
{% extends 'base.html.twig'%}

{% block body %}
<div class="card">
  <div class="card-body mx-4">
    <div class="container">
      <p class="my-5 mx-5" style="font-size: 30px;">Thank for your purchase</p>
      <div class="row">
        <ul class="list-unstyled">
          <li class="text-black">{{ payment.getUserId().email }}</li>
          <li class="text-muted mt-1"><span class="text-black">Payment id:</span> {{ payment.id }}</li>
          <li class="text-black mt-1">{{ payment.PaymentDate|date('Y-m-d H:i:s') }}</li>
        </ul>
        <hr>
       
        {# Check if products are available #}
        {% if products is defined and products|length > 0 %}
            {% for product in products %}
                <div class="row">
                    <div class="col-xl-10">
                        <p>Product Name: {{ product.name }}</p>
                        <p>Quantity: {{ product.StockQu }}</p>
                    </div>
                    <div class="col-xl-2">
                        <p class="float-end">Price: {{ product.price * product.StockQu }}$</p>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <div class="col-xl-12">
              <p class="float-end fw-bold">Total: {{ payment.PaymentAmount }}$</p>
            </div>
            <hr style="border: 2px solid black;">
        {% else %}
            <p>No products found.</p>
        {% endif %}
    </div>
  </div>
  <div class="m-6">
    {# <a href="{{ path('pdf_print',) }}" type="button" class="btn btn-primary" data-mdb-ripple-init>Print Invoice</a> #}
    <a href="{{ path('pdf_print', {'id': payment.id}) }}" type="button" class="btn btn-primary">Print PDF</a>
  </div>
</div>
{% endblock %}
